html {
    height: 100%;
}

body {
    background-image: url('/images/main-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    overflow-x: auto;

}

.container-fluid {
    flex: 1;
    overflow: auto;
    height: 100%;
}

.game-details-container,
.pagination-container-wrapper,
.contact-form-submit-btn {
    margin-bottom: 6rem;
}



.custom-toggler-icon {
    color: white;
}

button.navbar-toggler[aria-expanded="true"] {
    margin-left: 40px;
}

.navbar-wrapper {
    width: 100%;
}

.navbar-container {
    width: 20vw;
}

.navbar-main-container {
    width: 56vw;
}

.nav-item {
    margin: auto 20px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: darkgrey;
}

.hamburger-menu-button {
    border: 0.5mm solid white;
    border-radius: 2mm;
}

.hamburger-menu-icon {
    color: white;
}

.footer {
    margin-top: auto;
    height: 50px;
}

.rememberme {
    display: flex;
    justify-content: flex-start;
}

.rememberme-label {
    margin-top: 6px;
    font-size: 14px;
    margin-right: 10px;
}

.rememberme-check {
    width: 12px;
}

.faq-container {
    margin-top: 140px;
    max-width: 600px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    cursor: pointer;
    color: #007bff;
}

.answer {
    display: none;
    margin-top: 10px;
}

.pagination-container-wrapper {
    max-height: 50px;
}

.pagination-container {
    display: inline-flex;
}

.empty-content-container {
    font-size: 24px;
}