html {
    height: 100%;
}

body {
    background-image: url('/images/main-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.navbar-wrapper {
    width: 100%;
}

.navbar-container {
    width: 30vw;
}

.nav-item {
    margin: auto 20px;
}

.greeting-container {
    margin-top: 140px !important;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: darkgrey;
}

.hamburger-menu-button {
    border: 0.5mm solid white;
    border-radius: 2mm;
}

.hamburger-menu-icon {
    color: white;
}

.footer {
    height: 86px;
}

/* TODO: Fix CSS and add responsive design */