<!--suppress ALL -->
<nav
        th:fragment="navbar"
        class="navbar navbar-expand-lg text-white bg-dark fixed-top">
    <div class="d-flex justify-content-between navbar-wrapper">

        <div class="navbar-container">
            <a class="navbar-brand logo" href="/"><img alt="quasar picture" src="/images/logo.png"></a>
        </div>

        <button class="navbar-toggler hamburger-menu-wrapper" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="custom-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse navbar-main-container" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/games/all}">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/publishers/all}">Game Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/faq}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contacts}">Contacts</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/publishers/add}">Add a publisher</a>
                        <a class="dropdown-item" th:href="@{/games/add}">Add a game</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/users/manage-roles}">Manage roles</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="d-flex navbar-container">
            <ul class="navbar-nav mr-auto col-12 justify-content-end">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle"
                       href="/"
                       id="profileDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Welcome,
                        <th:block sec:authentication="name"></th:block>!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" th:href="@{/user/profile}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <form th:method="POST"
                              th:action="@{/users/logout}">
                            <input type="submit" class="btn btn-link dropdown-item" value="Logout">
                        </form>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
            </ul>
        </div>

    </div>
</nav>