<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
    <title></title>
</head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container text-white mt-5">
    <h2>Add New Publisher</h2>

    <form class="publisher-form mt-4"
          th:action="@{/publishers/add}"
          th:method="POST"
          th:object="${addPublisherDTO}">

        <!-- Name Input -->
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text"
                   id="name"
                   th:name="name"
                   th:field="*{name}"
                   class="form-control"/>
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"
               class="errors alert alert-danger">
                Name is required.
            </p>
        </div>

        <!-- Thumbnail URL Input -->
        <div class="form-group">
            <label for="thumbnailUrl">Thumbnail URL:</label>
            <input type="text"
                   id="thumbnailUrl"
                   th:name="thumbnailUrl"
                   th:field="*{thumbnailUrl}"
                   class="form-control"/>
            <p th:if="${#fields.hasErrors('thumbnailUrl')}"
               th:errors="*{thumbnailUrl}"
               class="errors alert alert-danger">
                Thumbnail is required.
            </p>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-4">Add Publisher</button>
    </form>
</div>

<div>
    <footer th:replace="~{/fragments/footer}"></footer>
</div>

</body>
</html>
