<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
    <title></title>
</head>

<body class="text-white">

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container mt-5">
    <h1 class="mb-4">Contact Us</h1>
    <p>Have questions, suggestions, or just want to say hello? We'd love to hear from you!</p>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/contacts}"
                  th:method="POST"
                  th:object="${contactUsDTO}">
                <div class="form-group">
                    <label for="name" class="text-white">Your Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           th:field="*{name}"
                           placeholder="Enter your name">
                    <p th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"
                       class="errors alert alert-danger">
                        Name is required.
                    </p>
                </div>
                <div class="form-group">
                    <label for="email" class="text-white">Email Address</label>
                    <input class="form-control"
                           id="email"
                           th:field="*{email}"
                           placeholder="Enter your email">
                    <p th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"
                       class="errors alert alert-danger">
                        Email is required.
                    </p>
                </div>
                <div class="form-group">
                    <label for="message" class="text-white">Your Message</label>
                    <textarea class="form-control"
                              id="message"
                              th:field="*{message}"
                              rows="4"
                              placeholder="Type your message">
                    </textarea>
                    <p th:if="${#fields.hasErrors('message')}"
                       th:errors="*{message}"
                       class="errors alert alert-danger">
                        Message is required.
                    </p>
                </div>
                <button type="submit" class="contact-form-submit-btn btn btn-primary mt-4" disabled>Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-end">
                <div>
                    <h4>Our Office</h4>
                    <p>
                        Quasar Games<br>
                        123 Gaming Street<br>
                        GameCity, GX 12345<br>
                        Game Nation
                    </p>
                    <p><strong>Email:</strong> info@quasargames.com</p>
                    <p><strong>Phone:</strong> 123-456-789</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <footer th:replace="~{/fragments/footer}"></footer>
</div>

</body>
</html>
