<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
    <title></title>
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="d-flex justify-content-center mb-5 ml-4 mr-4 mt-5">

<div class="faq-container">
    <h3>Frequently Asked Questions</h3>

    <div class="faq-item">
        <div class="question mt-5">Q: What is Quasar?</div>
        <div class="answer">A: Quasar is an online game webshop that offers a diverse selection of games for various platforms.</div>
    </div>

    <div class="faq-item">
        <div class="question mt-5">Q: How can I purchase games on Quasar?</div>
        <div class="answer">A: To purchase games, simply browse through our catalog, select the games you want, and complete the checkout process.</div>
    </div>

    <div class="faq-item">
        <div class="question mt-5">Q: What makes Quasar stand out from other game webshops?</div>
        <div class="answer">A: Quasar stands out by offering more than just a platform to buy games. Our exclusive deals and discounts make gaming more affordable, and our user-friendly interface simplifies the process of discovering and enjoying new titles. Stay connected with Quasar to benefit from our regular updates, ensuring you never miss out on the latest game releases and special promotions.</div>
    </div>

    <div>
        <footer th:replace="~{fragments/footer}"> </footer>
    </div>
</div>

</div>

<script th:src="@{/js/faq.js}"></script>

</body>
</html>