<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
    <title></title>
</head>

<body class="text-white d-flex align-items-center justify-content-center">

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<h2 class="mt-4 mb-4">User Role Management</h2>

<table class="table w-75 bg-white text-dark">
    <thead class="thead-light">
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Role</th>
        <th><div class="mr-2">Actions</div></th>
    </tr>
    </thead>
    <tbody id="userTable">
    </tbody>
</table>

<script th:inline="javascript">
    const CURRENT_USERNAME = /*[[${username}]]*/ "";
    const CSRF_HEADER_NAME = /*[[${_csrf.headerName}]]*/ "";
    const CSRF_TOKEN = /*[[${_csrf.token}]]*/ "";
</script>

<script th:src="@{/js/role-management.js}"></script>

</body>
</html>